<img style="float: right;" src="img/openhouse_logo.png" width="200" height="200"/><br>

# <center> <ins> House Price Prediction Coding Test <br><br> Linear-Regression <ins> </center>
### <center>by: Daniel Lachner-Piza, PhD <br> for: OpenHouse.ai </center>

In [3]:
import pandas as pd
import numpy as np

from pandas.api.types import is_object_dtype
from utils.data_loader import DataLoader

# Table of Contents
* [Chapter 1](#chapter1)
    * [Section 1.1](#section_1_1)
* [Chapter 2](#chapter2)
    * [Section 2.1](#section_2_1)
        * [Sub Section 2.1.1](#sub_section_2_1_1)
        * [Sub Section 2.1.2](#sub_section_2_1_2)
* [Chapter 3](#chapter3)
    * [Section 3.1](#section_3_1)
        * [Sub Section 3.1.1](#sub_section_3_1_1)
        * [Sub Section 3.1.2](#sub_section_3_1_2)
    * [Section 3.2](#section_3_2)
        * [Sub Section 3.2.1](#sub_section_3_2_1)

## Chapter 1 <a class="anchor" id="chapter1"></a>
This is chapter 1
### Section 1.1 <a id="section_1_1"></a>
This is section 1.1
## Chapter 2 <a id="chapter2"></a>
This is chapter number 2
### Section 2.1 <a id="section_2_1"></a>
This is section 2.1
#### Section 2.1.1 <a id="sub_section_2_1_1"></a>
This is sub section 2.1.1
#### Section 2.1.2 <a id="sub_section_2_1_2"></a>
This is sub section 2.1.2
## Chapter 3 <a id="chapter3"></a>
This is chapter number 3
### Section 3.1 <a id="section_3_1"></a>
This is section 3.1
#### Section 3.1.1 <a id="sub_section_3_1_1"></a>
This is sub section 3.1.1
#### Section 3.1.2 <a id="sub_section_3_1_2"></a>
This is sub section 3.1.2
### Section 3.2 <a id="section_3_2"></a>
This is section 3.2
#### Section 3.2.1 <a id="sub_section_3_2_1"></a>
This is sub section 3.2.1

# Data Loading <a class="data-loading"></a>

In [2]:
# 1. Import the dataset using the DataLoader class, which wraps several file types into one single data reader.
data_loader = DataLoader("data/dataset.csv")
data_df = data_loader.load_data()

### 2. Show 10 first rows to get an idea of the data we are dealing with

In [11]:
data_df.head(10)

,LotArea,GrLivArea,Street,Alley,LotType,BldgType,HouseStyle,OverallQuality,OverallCondition,YearBuilt,...,CentralAir,FullBath,HalfBath,GarageType,GarageCars,GarageArea,YearSold,SaleType,SaleCondition,SalePrice
0,8910,1194,Pave,NaN,Corner,1Fam,1Fam,6,6,1959,...,Y,1,0,BuiltIn,2,539.0,2006,WD,Normal,159500
1,1526,630,Pave,NaN,Inside,Twnhs,SFoyer,4,8,1970,...,Y,1,0,Attchd,1,286.0,2009,WD,Normal,86000
2,14598,1933,Pave,NaN,CulDSac,1Fam,2Story,6,5,2007,...,Y,2,1,BuiltIn,3,668.0,2008,WD,Normal,214000
3,7200,1040,Pave,NaN,Inside,Duplex,1Story,4,5,1949,...,N,2,0,Detchd,2,420.0,2009,WD,Normal,90000
4,5687,1716,Pave,Grvl,Inside,2fmCon,2Story,5,6,1912,...,N,2,0,NaN,0,0.0,2008,WD,Normal,135900
5,8100,1559,Pave,Pave,Inside,1Fam,1Story,5,6,1948,...,Y,1,0,Detchd,2,812.0,2007,COD,Normal,153500
6,9600,1644,Pave,NaN,Inside,1Fam,1Story,6,5,1953,...,Y,1,0,Attchd,2,418.0,2009,WD,Normal,167000
7,3182,1200,Pave,Pave,Inside,TwnhsE,2Story,7,5,2004,...,Y,2,1,Detchd,2,480.0,2010,WD,Normal,151000
8,6040,1152,Pave,NaN,Inside,Duplex,1Story,4,5,1955,...,N,2,0,NaN,0,0.0,2008,WD,AdjLand,82000
9,20544,2093,Pave,NaN,CulDSac,1Fam,2Story,7,6,1986,...,Y,2,1,Attchd,2,542.0,2008,WD,Normal,215000

### 3. Show number of NaNs

In [12]:
data_df.isna().sum()

LotArea                0
GrLivArea              0
Street                 0
Alley               1369
LotType                0
BldgType               0
HouseStyle             0
OverallQuality         0
OverallCondition       0
YearBuilt              0
Foundation             0
TotalBsmtSF            0
CentralAir             0
FullBath               0
HalfBath               0
GarageType            81
GarageCars             0
GarageArea            43
YearSold               0
SaleType               0
SaleCondition          0
SalePrice              0
dtype: int64

In [14]:
np.sum(data_df == "")

/home/dlp/Development/OpenHouseAI_TechTask1/dlp-test/.venv/lib/python3.12/site-packages/numpy/_core/fromnumeric.py:84: FutureWarning: The behavior of DataFrame.sum with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)

LotArea             0
GrLivArea           0
Street              0
Alley               0
LotType             0
BldgType            0
HouseStyle          0
OverallQuality      0
OverallCondition    0
YearBuilt           0
Foundation          0
TotalBsmtSF         0
CentralAir          0
FullBath            0
HalfBath            0
GarageType          0
GarageCars          0
GarageArea          0
YearSold            0
SaleType            0
SaleCondition       0
SalePrice           0
dtype: int64

In [10]:
data_df.dtypes

LotArea               int64
GrLivArea             int64
Street               object
Alley                object
LotType              object
BldgType             object
HouseStyle           object
OverallQuality        int64
OverallCondition      int64
YearBuilt             int64
Foundation           object
TotalBsmtSF           int64
CentralAir           object
FullBath              int64
HalfBath              int64
GarageType           object
GarageCars            int64
GarageArea          float64
YearSold              int64
SaleType             object
SaleCondition        object
SalePrice             int64
dtype: object

In [27]:
for i, col_name in enumerate(data_df.columns):
    nr_unique_vals = data_df[col_name].unique().shape
    if is_object_dtype(data_df[col_name]):
        print(f"{i}.{col_name} --- Nr.Uniques : {nr_unique_vals}")
#data_df[data_df.columns[1]].unique().shape

2.Street --- Nr.Uniques : (2,)
3.Alley --- Nr.Uniques : (3,)
4.LotType --- Nr.Uniques : (5,)
5.BldgType --- Nr.Uniques : (5,)
6.HouseStyle --- Nr.Uniques : (9,)
10.Foundation --- Nr.Uniques : (7,)
12.CentralAir --- Nr.Uniques : (2,)
15.GarageType --- Nr.Uniques : (7,)
19.SaleType --- Nr.Uniques : (9,)
20.SaleCondition --- Nr.Uniques : (7,)